body{
	background-image: url('https://thumbs.dreamstime.com/t/blue-background-simple-abstract-header-footer-50000907.jpg');
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: fixed;
	background-color:#26A9E1;		
}

.float_left{
	float:left;
}

.center{
	text-align:center;
}

.float_right{
	float:right;
}
.show_nav{
	background-color: darkblue;
	border: 1px solid #CCCCFF;	
	text-align: center;	
	height: 30px;
	border-radius: 0px 0px 15px 0px;
	width: 100%;
	display: inline-block;
}

.hide_nav{
	background-color: darkblue;
	border: 1px solid #CCCCFF;	
	height: 30px;
	border-radius: 0px 15px 15px 0px;
	width: 3%;	
}


	/*-webkit-transition: width 2s;
	transition: width 2s; */

nav:hover{			
	visibility:hiden;
}

nav a{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 2px;
	line-height: center;
	border: 1px solid #CCCCFF;
	background-color: #6666FF;
	border-radius: 0px 0px 15px 15px;
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 24px;
	font-family:"Comic Sans MS";
}

nav a:hover{
	background-color: #26A9E1;
	font-weight:bold;
}

#show_hide_btn{
	border-radius: 15px;
	margin: 5px;
	background-color: lightblue;
}

.displ_none{
	display: none;
}

.displ_visible{
	display: visible;
}

#all{
	border: 3px solid lightblue;
}

#section_1{
	width:60%;			
	background-color: lightblue;
	border: 2px solid darkblue;
	border-radius: 15px;
}

#img_1{
	max-height: 150px; 
	margin: 30px;
	display: inline-block;
	overflow:auto;
}

#img_2{	
	max-height: 150px;
	margin: 30px;
	margin-right: 30px;
	float:right;
	overflow:auto;
	display: inline-block;
}

.read-more 
{
	display: inline-block;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}


.read-more span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.read-more span:after 
{
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.read-more:hover span{
	padding-right: 25px;
}

.read-more:hover span:after 
{
	opacity: 1;
	right: 0;
}

a.button-blue
{
	color:darkblue;
	background-color: lightblue;
	border:2px solid darkblue; 
	padding: 0px 10px;
	margin-left: 50px;
}		

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid gray;
	background-color:lightgrey;
}

ul.pagination li a.active {
	background-color: blue;
	color: white;
	border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {
	background-color: #26A9E1;
}

ul.pagination li:first-child a{
	border-radius: 16px 0px 0px 16px;
}

ul.pagination li:last-child a{
	border-radius: 0px 16px 16px 0px;
}

section{
	margin-top:50px;	
}

main{
	padding-left:10px;
}

aside 
{
	width: 25%;
	border: 2px solid silver;
	border-radius: 15px;
	background-color: white;
	padding: .75em;
	margin-right:10px;
}

.flex-item2 { margin-bottom: 0.2em; }

.flex-item2:last-child 
{
	max-height: 60px;
	overflow: hidden;
}
 
#btn1, #btn2{
	 visibility: hidden;
} 
 
img:hover:not(.fake_button) { box-shadow: 2px 2px 5px silver, 4px 4px 10px black; }

img, [class*=fake] { cursor: pointer; }

.clear-fix { clear: both; }

.fake_submit 
{
	font-family: inherit;
	font-size: inherit;
	float: right;
	background-color: #F5F5F5;
	border: 2px solid silver;
	border-radius: 5px;
	padding: 0.1em 1em;
}

.fake_button 
{
	width: 30%;
	height: 100px;
	float: left;
}
			
[placeholder], [disabled] 
{
	font: inherit;
	font-size: 95%;
}

[required], [disabled] {
	border: 2px ridge red; 
}

[type=text], [disabled] 
{
	width: 70%;
	float: right;
	box-sizing: border-box;	
}

[disabled] 
{
	width: 45%;
	margin-right: 25%;
	cursor: not-allowed;
}


    /* for 980px or less */  
    @media screen and (max-width:980px) {  
      
      #pagewrap {  
         width: 94%;  
      }  
      #content {  
         width: 65%;  
      }  
      #sidebar {  
         width: 30%;  
      }  
    }  
	
	    /* for 700px or less */  
    @media screen and (max-width:700px) {  
      
      #content {  
         width: auto;  
         float: none;  
      }  
      #sidebar {  
         width: auto;  
         float: none;  
      }  
    }  
	
	    /* for 480px or less */  
    @media screen and (max-width:700px) {  
      
      #header {  
         height: auto;  
      }  
      #h1 {  
         font-size: 24px;  
      }  
      #sidebar {  
         display: none;  
      }  
    }  